<footer>
  <div class="footer-container">
    <div class="footer-nav">
      <a onclick="showSection('board-notice')">공지사항</a>
      <a onclick="showSection('board-announcement')">공고</a>
      <a onclick="showSection('board-recruits')">채용정보</a>
      <a onclick="showSection('board-privacy')">개인정보처리방침</a>
    </div>
    
    <div class="footer-info">
      <span><strong>주식회사 홈앤로지스틱스</strong></span>
      <span>대표자: 김재진</span>
      <span>사업자등록번호: 801-81-03559</span><br />
      <span>주소: 경기도 화성시 만세구 양감면 토성로 624</span>
      <span>Tel: 031-8043-2732</span>
      <div class="copy">© 2026 홈앤로지스틱스. All rights reserved.</div>
    </div>
  </div>
</footer>