<header>
  <div class="logo" onclick="showSection('main-home')">
    <img src="logo.svg" alt="홈앤로지스틱스" class="logo-img" />
  </div>
  <nav>
    <div class="nav-item">
      회사소개
      <div class="dropdown">
        <a href="#" onclick="showSection('intro-summary')">회사개요</a>
        <a href="#" onclick="showSection('intro-map')">오시는 길</a>
      </div>
    </div>
    <div class="nav-item">
      사업영역
      <div class="dropdown">
        <a href="#" onclick="showSection('business-zone')">사업 영역</a>
      </div>
    </div>
    <div class="nav-item">
      알림마당
      <div class="dropdown">
        <a href="#" onclick="showSection('board-notice')">공지사항</a>
        <a href="#" onclick="showSection('board-announcement')">공고</a>
        <a href="#" onclick="showSection('board-recruits')">채용정보</a>
      </div>
    </div>
  </nav>
</header>